<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuangkou.pdu.dao.PduAutomaticInfoMapper">
  <resultMap id="BaseResultMap" type="com.chuangkou.pdu.entity.PduAutomaticInfo">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="actionTime" jdbcType="VARCHAR" property="actiontime" />
    <result column="resultState" jdbcType="VARCHAR" property="resultstate" />
  </resultMap>
  <insert id="insert" parameterType="com.chuangkou.pdu.entity.PduAutomaticInfo">
    insert into tb_pdu_automatic_info (ID, action, actionTime,
    resultState)
    values (#{id,jdbcType=INTEGER}, #{action,jdbcType=VARCHAR}, #{actiontime,jdbcType=VARCHAR},
    #{resultstate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chuangkou.pdu.entity.PduAutomaticInfo">
    insert into tb_pdu_automatic_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="action != null">
        action,
      </if>
      <if test="actiontime != null">
        actionTime,
      </if>
      <if test="resultstate != null">
        resultState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="actiontime != null">
        #{actiontime,jdbcType=VARCHAR},
      </if>
      <if test="resultstate != null">
        #{resultstate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>