<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuangkou.pdu.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.chuangkou.pdu.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="partyID" jdbcType="INTEGER" property="partyid" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="BIGINT" property="create_time" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <!--一对一配置-->
    <association property="organization" javaType="com.chuangkou.pdu.entity.Organization">
      <id column="ID" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="detailed" jdbcType="VARCHAR" property="detailed" />
      <result column="parentID" jdbcType="INTEGER" property="parentid" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
    </association>
    <!--一对一配置-->
    <association property="role" javaType="com.chuangkou.pdu.entity.Role">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="userName" jdbcType="VARCHAR" property="username" />
      <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    </association>
    <association property="Mpermissions" javaType="com.chuangkou.pdu.entity.Mpermissions">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="role_name" jdbcType="VARCHAR" property="roleName" />
      <result column="permission" jdbcType="VARCHAR" property="permission" />
    </association>

  </resultMap>

  <sql id="Base_Column_List">
    id, phone, password, partyID, state, remark, username, email,create_time,avatar,nickname,token
  </sql>


  <insert id="saveUser"  parameterType="com.chuangkou.pdu.entity.User">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="partyid != null">
        partyID,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="create_time!= null">
        create_time,
      </if>
      <if test="nickname!= null">
        nickname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="partyid != null">
        #{partyid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="create_time!= null">
        #{create_time,jdbcType=BIGINT},
      </if>
      <if test="nickname!= null">
        #{nickname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectOneByUserName"  resultMap="BaseResultMap">
SELECT
u.username,u.phone,u.password,rp.id,u.create_time,u.nickname,u.avatar
from users u
LEFT JOIN user_roles ur on ur. username=u.username
LEFT JOIN roles_permissions rp on rp.role_name = ur.role_name
where u.username=#{username}
  </select>


  <select id="selectOne"  resultMap="BaseResultMap">
     SELECT
    u.id,u.phone,u.password,u.partyID,o.name,u.state,u.remark,u.nickname,
    u.username,u.email,ur.role_name
    FROM  users u
    LEFT JOIN user_roles ur on u.username = ur.userName
    LEFT JOIN tb_organization o on o.ID= u.partyID where u.id = #{id}
  </select>
  <select id="selectall"  resultMap="BaseResultMap">
    SELECT
    u.id,u.phone,u.password,u.partyID,o.name,u.state,u.remark,u.nickname,
    u.username,u.email,ur.role_name
    FROM  users u
    LEFT JOIN user_roles ur on u.username = ur.userName
    LEFT JOIN tb_organization o on o.ID= u.partyID
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from users
    where id = #{id}
  </delete>
  <update id="updatePasswordByUname" parameterType="com.chuangkou.pdu.entity.User">
   update users set password= #{password,jdbcType=VARCHAR}  where  username= #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateAvatarByUname" parameterType="com.chuangkou.pdu.entity.User">
    update users set avatar= #{avatar,jdbcType=VARCHAR}  where  username= #{username,jdbcType=VARCHAR}
  </update>

  <update id="update" parameterType="com.chuangkou.pdu.entity.User">
    update users
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="partyid != null">
        partyID = #{partyid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="update2" parameterType="com.chuangkou.pdu.entity.User">
    update users
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="partyid != null">
        partyid = #{partyid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
    </set>
    where phone = #{phone,jdbcType=VARCHAR}
  </update>



  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from users
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from users
        where userName = #{username,jdbcType=VARCHAR}
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chuangkou.pdu.entity.User">
    insert into users (id, phone, password,
      partyID, state, remark, 
      userName, email)
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{partyid,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chuangkou.pdu.entity.User">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="partyid != null">
        partyID,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="partyid != null">
        #{partyid,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.chuangkou.pdu.entity.User">
    update users
    set phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      partyID = #{partyid,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateNickNameByUserName" parameterType="com.chuangkou.pdu.entity.User">
    update users
    set
   nickname=#{nickname,jdbcType=VARCHAR}
    where  userName = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updatetokenByUserName" parameterType="com.chuangkou.pdu.entity.User">
    update users
    set
    token=#{token,jdbcType=VARCHAR}
    where  userName = #{username,jdbcType=VARCHAR}
  </update>
</mapper>